/* base */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* line 7, D:/github repos/Portfolio/css/style.scss */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  color: #3498DB; }

/* line 11, D:/github repos/Portfolio/css/style.scss */
body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin: 0; }

/* line 16, D:/github repos/Portfolio/css/style.scss */
h2 {
  text-align: center; }

/* line 19, D:/github repos/Portfolio/css/style.scss */
.img-responsive {
  max-width: 100%;
  display: block;
  margin: 0 auto; }

/* buttons */
/* */
/* nav */
/* line 28, D:/github repos/Portfolio/css/style.scss */
nav {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 0;
  background: #fff;
  line-height: 3.125em;
  overflow: visible;
  border-bottom: 1px solid #DCDDD8; }

/* line 38, D:/github repos/Portfolio/css/style.scss */
nav a {
  text-decoration: none; }

@media only screen and (max-width: 62.5em) {
  /* line 42, D:/github repos/Portfolio/css/style.scss */
  nav {
    margin-top: 0;
    border: 0; } }

/* line 47, D:/github repos/Portfolio/css/style.scss */
nav ul {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto !important;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center; }

@media only screen and (max-width: 45em) {
  /* line 62, D:/github repos/Portfolio/css/style.scss */
  nav ul {
    display: none; }
  /* line 65, D:/github repos/Portfolio/css/style.scss */
  #indicator {
    display: none; } }

/* line 69, D:/github repos/Portfolio/css/style.scss */
nav ul li {
  float: right;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer; }

@media only screen and (max-width: 45em) {
  /* line 77, D:/github repos/Portfolio/css/style.scss */
  nav ul li {
    display: block;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #f2f2f2; }
  /* line 83, D:/github repos/Portfolio/css/style.scss */
  .darkSwitch nav ul li {
    border-bottom: 1px solid #393939 !important; } }

/* line 87, D:/github repos/Portfolio/css/style.scss */
nav ul li > a {
  padding: 0px 20px;
  color: #3498DB;
  font-weight: 600;
  display: block; }

/* line 94, D:/github repos/Portfolio/css/style.scss */
nav ul li:hover,
nav ul li:active {
  background: #f2f2f2; }

/* line 97, D:/github repos/Portfolio/css/style.scss */
nav ul li > a span {
  margin-right: 4px;
  color: #0078D7; }

/* line 101, D:/github repos/Portfolio/css/style.scss */
.has-child {
  position: relative;
  left: 0; }

/* line 105, D:/github repos/Portfolio/css/style.scss */
.has-child:after {
  position: absolute;
  margin-top: -5px;
  top: 27px;
  right: 5px;
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #0078D7 transparent transparent transparent; }

@media only screen and (max-width: 45em) {
  /* line 118, D:/github repos/Portfolio/css/style.scss */
  .has-child:after {
    position: absolute;
    margin-top: -5px;
    top: 25px;
    right: 20px;
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #0078D7 transparent transparent transparent; } }

/* line 131, D:/github repos/Portfolio/css/style.scss */
.has-child .dropdown {
  position: absolute;
  left: -40px;
  z-index: 99;
  display: none;
  width: 200px;
  background: #fff;
  border: 1px solid #EFEFEF;
  border-top: none; }

@media only screen and (max-width: 45em) {
  /* line 142, D:/github repos/Portfolio/css/style.scss */
  .has-child .dropdown {
    position: relative;
    left: 0;
    z-index: auto;
    margin-top: 0;
    display: block;
    width: 100%;
    border-radius: 0; } }

/* line 153, D:/github repos/Portfolio/css/style.scss */
.has-child .dropdown > li {
  float: left;
  width: 100%;
  font-weight: 600;
  color: #3498DB;
  border-bottom: 1px solid #EFEFEF; }

@media only screen and (max-width: 45em) {
  /* line 161, D:/github repos/Portfolio/css/style.scss */
  .has-child .dropdown > li {
    padding-left: 20px;
    background: #fff; }
  /* line 165, D:/github repos/Portfolio/css/style.scss */
  .darkSwitch .has-child .dropdown > li {
    background: #222; } }

/* line 169, D:/github repos/Portfolio/css/style.scss */
.has-child .dropdown li a {
  display: block; }

/* line 172, D:/github repos/Portfolio/css/style.scss */
nav ul li:hover > a {
  color: #1d6fa5; }

/* line 176, D:/github repos/Portfolio/css/style.scss */
.logo a {
  float: left;
  margin: 0;
  padding: 0 15px;
  font-size: 1.25em;
  font-weight: 600;
  color: #3498DB; }

/* line 184, D:/github repos/Portfolio/css/style.scss */
.logo a:hover {
  background: #f2f2f2;
  color: #1d6fa5; }

@media only screen and (max-width: 45em) {
  /* line 189, D:/github repos/Portfolio/css/style.scss */
  .logo {
    width: 100%;
    border: 0;
    border-radius: 0; } }

@media only screen and (max-width: 62.5em) {
  /* line 196, D:/github repos/Portfolio/css/style.scss */
  .logo {
    border-radius: 0; } }

/* line 201, D:/github repos/Portfolio/css/style.scss */
#toggle-menu {
  position: absolute;
  right: 0em;
  padding: 0px 20px;
  top: 0;
  display: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #FFF4E1; }

@media only screen and (max-width: 45em) {
  /* line 212, D:/github repos/Portfolio/css/style.scss */
  #toggle-menu {
    display: block; } }

/* line 216, D:/github repos/Portfolio/css/style.scss */
#indicator {
  bottom: 0;
  margin: 0;
  height: 3px;
  transition: all 0.2s ease-out;
  position: absolute;
  max-width: 150px; }

/* line 224, D:/github repos/Portfolio/css/style.scss */
ul {
  color: #1d6fa5; }

/* line 227, D:/github repos/Portfolio/css/style.scss */
#active {
  color: #3498DB; }

/* line 230, D:/github repos/Portfolio/css/style.scss */
.darkSwitch ul {
  color: #eee; }

/* */
/* line 234, D:/github repos/Portfolio/css/style.scss */
header {
  background: #E74C3C;
  height: 150px; }

/* line 239, D:/github repos/Portfolio/css/style.scss */
.intro {
  background: #ECF0F1;
  padding-bottom: 48px;
  padding-top: 100px;
  color: #000;
  text-align: center; }

/* line 247, D:/github repos/Portfolio/css/style.scss */
.intro h1 {
  font-size: 63px; }

/* line 251, D:/github repos/Portfolio/css/style.scss */
.section-about {
  display: flex;
  flex-wrap: wrap; }

/* line 256, D:/github repos/Portfolio/css/style.scss */
.about-me {
  flex: 1 400px;
  background: #3498DB;
  padding: 60px 80px 30px 10%; }

/* line 261, D:/github repos/Portfolio/css/style.scss */
.profile {
  flex: 1 400px;
  background: #2C3E50;
  padding: 60px 40px; }

/* line 267, D:/github repos/Portfolio/css/style.scss */
.about-me,
.profile {
  text-align: left; }

/* line 271, D:/github repos/Portfolio/css/style.scss */
.boxy {
  font-size: 2em;
  text-align: center;
  color: #eee;
  border: 3px solid #eee;
  padding: 15px;
  display: inline-block;
  margin: 0 0 50px; }

/* line 280, D:/github repos/Portfolio/css/style.scss */
.section-projects {
  display: flex;
  flex-wrap: wrap;
  background: #ECF0F1;
  color: #222; }

/* line 286, D:/github repos/Portfolio/css/style.scss */
.section-name {
  width: 100%;
  text-align: center; }

/* line 290, D:/github repos/Portfolio/css/style.scss */
.section-name h1 {
  border-color: #222;
  color: #222;
  margin: 15px; }

/* line 295, D:/github repos/Portfolio/css/style.scss */
.project {
  flex: 1 400px;
  padding: 0px 30px; }

/* line 299, D:/github repos/Portfolio/css/style.scss */
.section-proficiency {
  background: #E74C3C;
  color: #eee; }

/* line 303, D:/github repos/Portfolio/css/style.scss */
.section-proficiency h1 {
  color: #eee;
  border-color: #eee; }

@media screen and (max-width: 768px) {
  /* line 308, D:/github repos/Portfolio/css/style.scss */
  .boxy {
    display: block;
    border: none;
    border-bottom: 3px solid;
    margin: 0px; }
  /* line 314, D:/github repos/Portfolio/css/style.scss */
  .about-me, .profile {
    padding: 0px 50px; }
  /* line 317, D:/github repos/Portfolio/css/style.scss */
  .section-name h1 {
    margin: 0px 50px; } }

/*# sourceMappingURL=style.css.map */
