$font-stack: "Open Sans", Helvetica Neue, Arial, sans-serif;
$font-secondary: "Segoe UI", Helvetica Neue, Arial, sans-serif;
$light-blue: #3498db;
// #272727
// background-image: linear-gradient( transparent 14%, rgba(0, 0, 0, 0.1) 14%, rgba(0, 0, 0, 0.1) 14%, transparent 14%, transparent 86%, rgba(0, 0, 0, 0.1) 86%, rgba(0, 0, 0, 0.1) 14%, transparent 14% ), linear-gradient( rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0) ), linear-gradient( 45deg, transparent 40%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.1) 60%, transparent 60% ), linear-gradient(white, white);
//     background-size: cover, cover, 4px 4px, cover;
.skillsWrapper {
  display: flex;
  flex-wrap: wrap;
  color: #ecf0f1;
  padding: 8px 0;
  align-items: center;
  justify-content: center;
  h3 {
    width: 100%;
    text-align: center;
  }
  .skill {
    padding: 30px 30px 30px 0;
    flex: 0 auto;
    // padding: 8px 30px;
    // line-height: 1.5;
    flex-direction: row;
    svg {
      width: 2.75em;
      height: 3em;
      padding: 0 0.5em;
      color: #ecf0f1;
      // &.html {
      //   color: #f16524;
      // }
    }
    span {
      // vertical-align: 20px;
      vertical-align: 12px;
      padding: 0 0.5em;
    }
    i.fab {
      font-size: 48px;
    }
  }
}

// profile
.img-responsive {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border: 1px solid #dcddd8;
  transition: all 0.2s;
  box-sizing: border-box;
  &:hover {
    opacity: 0.9;
    border: 1px solid $light-blue;
  }
}

.anchor:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}

header {
  background: #e74c3c;
  height: 200px;
  border-bottom: 2px solid white;
}

.intro {
  background: #ecf0f1;
  padding: {
    top: 40px;
    bottom: 50px;
  }
  color: #000;
  text-align: center;
  h1 {
    font-size: 70px;
    margin-top: 60px;
    font-family: "Segoe UI Light", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
  }
  p {
    font-size: 1.2em;
    margin-top: -45px;
    letter-spacing: 1.5px;
  }
}

.section-about {
  display: flex;
  flex-wrap: wrap;
}

.about-me {
  background: #2d4059;
  padding: 60px 80px 60px 10%;
  flex: 3;
  line-height: 1.5;
  h1 a {
    color: #ede;
  }
}

.boxy {
  font-size: 1.7em;
  text-align: center;
  color: #ede;
  border: 3px solid #ede;
  padding: 15px;
  display: inline-block;
  margin: 0 0 30px;
  line-height: 1;
  font-weight: 500;
}

.profile {
  background: #3498db;
  padding: 60px 20px;
  flex: 2;
  li {
    margin: 0;
    font-size: 1.15em;
    color: #ecf0f1;
    list-style: none;
  }
  ul p {
    font-size: 1.25em;
    margin: 0;
  }
  .small-line {
    border-color: #69d2e7;
    margin: 10px 0 50px;
    position: relative;
    width: 20px;
    border-top: 2px solid #69d2e7;
    margin-bottom: 30px;
  }
  .boxy {
    margin-left: 35px;
    color: #ede;
    border-color: #ede;
  }
}

.about-me,
.profile {
  text-align: left;
}
.img-circle.img-responsive {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  top: 90px;
  max-height: 200px;
  width: 200px;
  border: 7px solid #fff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
}

[data-icon]:before {
  content: attr(data-icon);
}

.icons8-codepen:before,
.icons8-github2:before,
.icons8-github:before,
.icons8-linkedin:before,
.icons8-twitter:before,
[data-icon]:before {
  display: inline-block;
  font-family: Portfolio;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icons8-codepen:before {
  content: "\f100";
}

.icons8-github:before {
  content: "\f101";
}

.icons8-github2:before {
  content: "\f102";
}

.icons8-linkedin:before {
  content: "\f103";
}

.icons8-twitter:before {
  content: "\f104";
}

.icons8-codepen:before,
.icons8-github2:before,
.icons8-linkedin:before,
.icons8-twitter:before {
  font-size: 1.5em;
  background: #ecf0f1;
  border-radius: 50%;
  color: #e96052;
  border: 2px solid #e96052 !important;
  box-shadow: 0 0 0 2px #fff;
  width: 63px;
  height: 63px;
  line-height: 60px;
  transition: background-color 0.25s linear;
}
// background: #ecf0f1;
// border-radius: 50%;
// color: #e74c3b;
// border: 2px solid #fff;
// box-shadow: 0 0 0 2px #e96052;
.contact-icons {
  text-align: center;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 1.5em;
  color: #448aaf;
  h1 {
    margin: 40px 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 15px 0 0;
  }
  ul li {
    display: inline-block;
    margin-left: 30px;
  }
  ul li a {
    display: block;
    font-size: 1.4em;
    margin: 0 5px;
    text-decoration: none;
  }
  ul li a i {
    color: #448aaf;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
}

#about-me p,
#profile {
  font-family: Raleway, helvetica;
}

.mepic {
  width: 200px;
  height: 200px;
  font-size: 1.4em;
  border-radius: 50%;
  margin-left: 50px;
  margin-right: 50px;
  border: 2px solid #e96052;
  box-shadow: 0 0 0 2px #ffffff;
  background: #ecf0f1;
  position: relative;
  top: 80px;
}

@media screen and (max-width: 768px) {
  .boxy {
    display: block;
    border: none;
    border-bottom: 3px solid;
    margin: 0;
  }
  .profile {
    ul {
      padding-left: 0;
    }
    .boxy {
      margin-left: 0;
    }
  }
  .about-me,
  .profile {
    padding: 15px 50px;
    flex: 1 100%;
  }
  .section-name h1 {
    margin: 0 50px;
  }
}

@media screen and (max-width: 607px) {
  .mepic {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 43px;
    top: 37px;
  }
  header {
    height: 150px;
  }
  .img-responsive {
    border: 0;
  }
  .intro h1 {
    margin-top: 0;
  }
  .contact-icons {
    ul li a {
      height: 0;
    }
  }
  .contact-icons {
    font-size: 1.2em;
    ul li {
      margin-left: 0;
    }
  }
  .icons8-codepen:before,
  .icons8-github2:before,
  .icons8-linkedin:before,
  .icons8-twitter:before {
    font-size: 1.4em;
    height: 50px;
    width: 50px;
    line-height: 50px;
  }
}

@media screen and (max-width: 376px) {
  .mepic {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 60px;
    top: 34px;
  }
  .contact-icons ul li a {
    height: 0;
    margin-top: 45px;
  }
  .contact-icons {
    font-size: 0.8em;
  }
  .icons8-codepen:before,
  .icons8-github2:before,
  .icons8-linkedin:before,
  .icons8-twitter:before {
    font-size: 1.3em;
    height: 35px;
    width: 35px;
    line-height: 36px;
  }
}

.icons8-codepen:hover:before,
.icons8-github2:hover:before,
.icons8-linkedin:hover:before,
.icons8-twitter:hover:before {
  color: #fff;
  background: #e74c3c;
}

@media (min-width: 1299px) {
  .icons8-codepen:before,
  .icons8-github2:before,
  .icons8-linkedin:before,
  .icons8-twitter:before {
    font-size: 2em;
    border: 2px solid #fff;
    width: 90px;
    height: 90px;
    line-height: 85px;
  }
  .contact-icons {
    ul li a {
      height: 70px;
      margin: 0 20px;
    }
    ul {
      padding: 20px 0 0;
    }
  }
}
