@font-face {font-family: Portfolio; src: url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAb4AA0AAAAACYgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAG3AAAABoAAAAcd2ZpSE9TLzIAAAGgAAAASgAAAGBAqFz9Y21hcAAAAgQAAABCAAABQgAP9K9jdnQgAAACSAAAAAQAAAAEABEBRGdhc3AAAAbUAAAACAAAAAj//wADZ2x5ZgAAAmAAAAMRAAADxKXUKg9oZWFkAAABMAAAAC8AAAA2BtHY2WhoZWEAAAFgAAAAHQAAACQDkwHyaG10eAAAAewAAAAYAAAAGAaQALFsb2NhAAACTAAAABIAAAASA8YCxm1heHAAAAGAAAAAHgAAACAAUgB+bmFtZQAABXQAAAEnAAACFu9wxIRwb3N0AAAGnAAAADYAAABaG9+GYnjaY2BkYGAA4unbRUri+W2+MnAzMYDApRdn9OC04P+3jBcYJwO5HAxgaQBMIAxZAHjaY2BkYGCc/P8tgx4TAwgwXmBgZEAFLABflgOIAAAAeNpjYGRgYOBg8AViEGACYkYGkJgDgx5IAAAMNADRAAB42mNgYWJgnMDAysDA6MOYxsDA4A6lvzJIMrQwMDAxsHIywIEAgskQkOaawtDwkeEjC+OB/wcY9BgnMwgDhRmRlCgwMAIAAuELOgAAAgAAEQAAAAACAAAAAgAAMABAADAAUABAeNpjYGBgZoBgGQZGBhCwAfIYwXwWBgUgzQKEQP5Hlv//gSTD///8zFCVDIxsDDAmAyMTkGBiQAWMDMMeAABAsAawAAAAEQFEAAAAKgAqACoAdgDYAUQBmgHiAAB42jVSz28bRRR+b9czsz/i9a53d8Y/1k68a++6MbGdXdtbIiduWkiVglBIqRSp4oTVXi0ucEI59kwuhROIG3Bo8gegSPwDiDN/AkWVkDihwKzVjOZ9783TN6P3vTeggAMA3+ATUIHB8BJhNL9iJXidXlLyx/xKVWQIl2qRJkX6ilH8d36FRT5zMifJnMh58cWzZ/jk5icHM/maBuP/XuNveCHf9qEOLdiCCBIYAOCm0lIqykjZVxZYQbFAX+TS54mf95iQe5ozP0fQrxm71tfILg5Pt04Pfzg6OvpnF0e7uzd/HV58fnqBX9Pzkv6VXjqnt8H2cpCfneUDezgcdu535LIGy7M8P1vKsgDhHjC8xnN4D6Cact+jjE7nOJ0kBwXMkpjFUciGsjIqqO+1FSEZSZyEFgou2qU8UH0vGUryq+9Wx3vlcjJ2ddPuiXpd2E1CTN21mkHVUHqu4SklYpQ1VIxyrVLeO8bz1cli6aob2LVrJumnbc4DUqPUNBADztuN2DUUrWpvuYiEUIFkg1JCTY0qG6q7XJwUGiiMwZa9XUFTRneloiP4EMBNuZhlqThQMs4KYWE8neTSZrkIaRQOUQrxPZ6ls+kkTmKa8oIzmb31Sehl6SRb49NqKrpSM6mOhFuJn//+vC9L+NvILHtcD/TWx4+evt/glV89y/KsX9b4rabRH6XhyuW6Rix/Z+fOg8cPHz4+3LbqlQb5XlWQaY1O3o/nokfJHbfh3m5iyQUETqSuV1JXRSqL4V3Yl6o6ckiOR6OOlONMZiKUp6yTyjiixfwsjGTxIm1jC6PpJAoLl/nZjGV+9CXadq1m37wpUNNQ2p/cZmVm2j/zhjaqB6MdLL8Yj3F1yypubGk3b9bswDYl2eZ3/Rb/5FE/+eClXy+9fPuPIvmPPpUTANlYTxaiRmEiu5uH8doNcR+5KGawxgOUs5nllM3w2hZub3q8fT/XjXzQ6GtMM42g67iRufhM8bs8FE2h1wXmNYeQzXt77zQjDDdrikoHAepY2/bdj4iu865fJ1ZQUeF/NwyPRgAAAHjahZAxa8MwFIRPiZPioaVkKXTSUkggNrIpps0a8JCpzZCxEIzjCIwVZGfI1LH/pn+mv6Zbz4rI0iEG8z493bt3NoA7fEPg/Dwi8ywQovQ8wA0+PQ/xhB/PAUJx63mEe/Hqecz+B5UiCHl6dlM9C0zw7nnAvcbzECt8eQ6o+fU8ghQPnseYiBWWnDngBAuNCnt0kJiiwIw1hULC/HOyZs+gQYsXYGkOJ6urfSenxUymKsnmUhemaXn3RpmlzY615phhy9huZ2pNXPMXVDjyZksV1mV1rLeE3Jl3rloqSrc+ZgCJBd//rud+Hy+iMrqERW6aLje2KmUaK7mQl+3kJIvSqM97LeeGCSw/Vrtckt69e+xqnwmb0rbaNFKpJFZKySuGfwyYUm0AeNpjYGIAg/8HGCSBFCMDOuAAizIxMjEyM7IwsjKysZfmZboZGhhAaUMobQSljaG0CQB/IQzcAAAAAAAB//8AAnjaY2BgYGQAgotTLrwG0ZdenNGD0QBe7AiKAAA=)}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
$font-stack: 'Open Sans',
Helvetica Neue,
Arial,
sans-serif;
$font-secondary: 'Segoe UI',
Helvetica Neue,
Arial,
sans-serif;
$light-blue: #3498db;
// @mixin minView($size) {
//   @media only screen and (min-width: $size + px) { @content; }
// }
// @mixin maxView($size) {
//   @media only screen and (min-width: $size + px) { @content; }
// }
  // * {
  //   outline: 2px solid pink;
  //   outline-style: dashed;
  // }
  body {
    margin: 0;
    font-family: $font-stack;
	  color: #fff;
    text-rendering: optimizeLegibility;
  }

a {
	color: #FFC107;
	text-decoration: none;
	transition: all .2s;    
    &:hover {
        color: lighten(#FFC107, 20%)
    }
}
h2 {
	text-align: center;
}
@import 
  'components/header.scss',
  'components/navbar.scss',
   'components/projects.scss',
    'components/footer.scss', 
 'components/form.scss';

// .logo a {
//   float: left;
//   margin: 0;
//   padding: 0 15px;
//   //   font-size: 1.25em;
//   font-weight: 600;
//   color: $light-blue;
//   &:before {
//     background: url('../assets/logo-Jaska.svg') no-repeat;
//     padding: 5px 25px;
//     opacity: 0.9;
//     content: "";
//   }
//   &:hover {
//     background: #f2f2f2;
//     color: #1d6fa5;
//     &:before {
//       opacity: 1;
//     }
//   }
// }